<header class="navbar navbar-dark sticky-top bg-danger flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-2 col-lg-2 me-0 px-3 fs-6 overflow-hidden" href="/">Stevens Institute Of Technology</a>
<img src="/img/stevens1.png" alt=" " width="150" height="50" class="d-inline-block align-text-top me-2">
    
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="nav col-md-6 col-lg-4 flex-fill mb-2 justify-content-center mb-md-0" role="search" method="POST" action="/admin/search">
        <input type="search" name="searchTerm" class="form-control form-control-dark w-100 rounded-0 border-0" placeholder="Search..." aria-label="Search">
      </form>
    </header>
    
  
  
  <style>
    .navbar form {
      margin-top: 5px;
      display: none;
    }
    .navbar-brand {
      white-space: nowrap;
      overflow: visible;
      text-overflow: ellipsis;
    }
  </style>
